*{
    margin: 0;
    padding: 0; 
}

.sidebar{
    background-color: rgb(202, 202, 233);
    width: 15vw;
    height: 84vh;
}

.sidebar {
    background-image: url("image.png");
    background-size: cover;
    padding: 60px;
}

.sidebar li{
    list-style: none;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 0px;
    padding-bottom: 30px;
    padding-right: 0px;   
}

.sidebar  li a{
    text-decoration: none;
    color: rgb(201, 233, 122);
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    padding-top: 10px;
}


.container{  
    display: flex;
}

.infocontainer{
    color: aliceblue;
    height: 30vh;
    width: 60vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-between;
}

.divinfo{
    color:aliceblue;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro',monospace;
}


.name{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    padding: 5px;
}

.adress{
    font-size: 25px;
}

.phone{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.email{
    margin-top: 25px;
}


.divinfo{
    padding: 0 10px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;
}

.divinfo h1{
    padding: 0 240px;
    font-family: 'Source Code Pro',monospace;
    text-align: center;
    color: brown;
}

.triple{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 30px;
    margin-left: 240px;
}
.sidebarGo{
    transform: translate(-443px , 9px);
    position: absolute;
}
